.grid-container {
    display: grid; /*An HTML element becomes a grid container when its display property is set to grid or inline-grid.*/
    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 8pt;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  /* both of them could be replaced by grid-gap: 20px 20px; */
    height: calc(100vh - 10px);
  }

